.mainDivAddVacation {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(0, 110, 255);
  width: 30%;
  position: fixed;
  left: 35%;
  top: 40%;
  height: 52%;
}

.addVacationDivTitle {
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 100%;
}

.addVacationDivDescription {
  width: 100%;
}

.addVacationDivDescription textarea {
  width: 90%;
  height: 50px;
  margin-left: 5%;
}

.addVacationDivPrice {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.priceDiv {
  height: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 12%;
}

.addVacationDivStartDate {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.StartDateDiv {
  height: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 23%;
}

.addVacationDivEndDate {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.EndDateDiv {
  height: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 23%;
}

.buttonsDiv {
  width: 100%;
  display: flex;
}

.buttonsDiv button {
  width: 90%;
  height: 30px;
  cursor: pointer;
}

.VacationDivAddPhoto {
  width: 20%;
}



.VacationDivAddPhoto img {
  width: 100%;
}

.addVacationDivCloseButton {
  margin-top: 30px;
  width: 40%;
}

.addVacationDivCloseButton button {
  border-radius: 5px;
  background-color: red;
}

.addVacationDivSaveButton {
  margin-top: 30px;
  width: 40%;
}

.addVacationDivSaveButton button {
  border-radius: 5px;
  background-color: green;
}
