.MainVacation {
  font-family: Comic Sans MS, Comic Sans, cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.addVacationDiv {
  margin-top: 5px;
  left: 10px;
  position: absolute;
}

.addVacationButton {
  font-family: Comic Sans MS, Comic Sans, cursive;
  border-radius: 5px;
  background-color: white;
  color: green;
  padding: 4px 10px;
  vertical-align: middle;
  border: 0px;
  cursor: pointer;
}

.graphpic {
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-left: 10px;
  vertical-align: middle;
  color: blue;
  border-radius: 3px;
  background-color: white;
  padding: 2px 10px;
}
